* {
	/* Reset margins and padding */
	margin: 0;
	padding: 0;
}

html,input,select,button {
	/* Set body font family and some finicky elements */
	font-family: $font-sans;
}

html {
  scroll-behavior: smooth;
  font-size: 100%; /** 16px */
  height: 100%;
}

body {
  height: 100%;
	/* Center body in page */
	margin: 0 auto;
	overflow-x: hidden;

	overflow-wrap: break-word;
	word-break: break-word;

	font-weight: 400;
  line-height: 1.75;
  color: $cl-black;
}

::selection {
	background: $cl-highlight;
	color: $cl-black;
}

a {
  color: $cl-primary-blue;
}

