h1,h2,h3,h4,h5,h6 {
	line-height: 1;
	color: $cl-black;
	padding-top: $spacing;
}

h1,
h2,
h3 {
	margin-bottom: $spacing * 3;
}

h4,
h5,
h6 {
	margin-bottom: $spacing * 2;
}

h1 {
	font-size: $font-size-xxxl;
}

h2 {
	font-size: $font-size-xxl;
}

h3 {
	font-size: $font-size-xl;
}

h4 {
	font-size: $font-size-lg;
}

h5 {
	font-size: $font-size-base;
}

h6 {
	font-size: $font-size-sm;
}