$font-sans:'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
$font-mono: Consolas, monaco, 'Ubuntu Mono', 'Liberation Mono', 'Courier New', Courier, monospace;

$font-size-xxxxl: 3.052rem;
$font-size-xxxl: 2.441rem;
$font-size-xxl: 1.953rem;
$font-size-xl: 1.563rem;
$font-size-lg: 1.25rem;
$font-size-base: 1rem;
$font-size-sm: 0.8rem;
$font-size-xs: 0.64rem;

$HEADER_HEIGHT: 50px;

$cl-black: #1A1A1A;
$cl-white: #FFFFFF;

$cl-grey-lightest: #F6F8FA;
$cl-grey-lighter: #E5E7EB;
$cl-grey-light: #c4c6c9;
$cl-grey: #9ea0a2;

$cl-primary-blue: #0070F3;

$cl-highlight: #fff785;

$spacing: 0.5rem;
