$font-sans:'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
$font-mono: Consolas, monaco, 'Ubuntu Mono', 'Liberation Mono', 'Courier New', Courier, monospace;

$font-size-xxxxl: 3.052rem;
$font-size-xxxl: 2.441rem;
$font-size-xxl: 1.953rem;
$font-size-xl: 1.563rem;
$font-size-lg: 1.25rem;
$font-size-base: 1rem;
$font-size-sm: 0.8rem;
$font-size-xs: 0.64rem;

$HEADER_HEIGHT: 50px;

$spacing: 0.5rem;

// color palette
$gunmetal: #223843;
$flord: #465C68;
$slate-gray: #6C838F;
$hit-gray: #ADB5BD;
$athens-gray: #E9ECEF;
$athens-gray-light: #F8F9FA;

$white: #fff;

$cl-black: $gunmetal;
$cl-white: $white;

// gray shades
$cl-gray-500: $gunmetal;
$cl-gray-400: $flord;
$cl-gray-300: $slate-gray;
$cl-gray-200: $hit-gray;
$cl-gray-100: $athens-gray;
$cl-gray-50: $athens-gray-light;

$cl-primary-blue: #0070F3;
$cl-highlight: #fff785;

// utils
$cl-border: $cl-gray-100;

$breakpoints: (
    "sm": "screen and (min-width: 320px)",
    "md": "screen and (min-width: 768px)",
    "lg": "screen and (min-width: 1024px)",
    "xl": "screen and (min-width: 1200px)",
) !default;
