.global-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid $cl-border;
  margin-top: $spacing * 8;
  padding: $spacing * 2 $spacing * 2;

  .copyright {
    font-size: $font-size-sm;
    color: $cl-gray-300;
  }
}