.global-header {
  display: flex;
  align-items: center;
  padding: $spacing $spacing * 3;

  height: $HEADER_HEIGHT;
  border-bottom: 1px solid $cl-grey-lighter;

  .logo {
    background-image: url("/logo.svg");
    background-repeat: no-repeat;
    width: 164px;
    height: 16px;
    margin: 0;
    padding: 0;
    text-indent: -9999px;
  }
}