main.doc {
  $sidebar-width: 300px;
  position: relative;
  width: 100%;
  height: 100%;

  &.with-index {
    #doc-index {
      left: 0;
    }

    .doc-content {
      @include mq(sm) {
        transform: translate(calc(100% - 60px), 0);
      }

      @include mq(md) {
        transform: translate(0, 0);
        left: $sidebar-width;
      }
    }
  }

  #doc-index {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    width: calc(100vw - 60px);

    background-color: $cl-gray-50;
    border-right: 1px solid $cl-border;

    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: -100%;

    transition: left .2s ease;

    @include mq(md) {
      width: $sidebar-width;
    }

    .toc {
      flex: 1;
    }
  }

  .doc-content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transition: all .2s ease-in;
  }
}