#nav-switch {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 44px;
  width: 44px;
  height: 44px;
  cursor: pointer;
  transition: all .2s ease-in;


  &:hover {
    color: $cl-primary-blue;
  }

  i {
    font-size: $font-size-xl;
  }
}