@media print {
  .logo {
    font-size: $font-size-xl;
    font-weight: bold;
    line-height: 1;
    width: 100% !important;
    text-indent: 0 !important;
    background: none !important;
  }

  #nav-switch {
    display: none !important;
  }

  .doc-content  {
    left: 0 !important;
  }

  #doc-index {
    display: none !important;
  }

  .scroll-table {
    width: 100%;

    thead {
      th {
        white-space: pre-wrap !important;
      }
    }
  
    tbody {
      td {
        white-space: pre-wrap !important;
      }
    }
  }
  
}