.toc {
  overflow-y: auto;

  nav {
    padding: $spacing * 2;
  }

  ul {
    list-style: none;
    padding-left: $spacing;

    li {
      padding: $spacing / 2 0;

      a {
        font-size: $font-size-sm;
        text-decoration: none;
        font-weight: 500;
        line-height: 1.4;
        display: inline-block;
        color: $cl-black;
      }

      ul {
        margin-bottom: 0;
      }

      ul li a {
        font-size: $font-size-sm;
        font-weight: 400;
      }
    }
  }


}